.light-rotate-animation, .light-rotate-animation-slow {
  animation: lightRotate linear 6s;
  animation-iteration-count: infinite;
  -webkit-animation: lightRotate linear 6s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: lightRotate linear 6s;
  -moz-animation-iteration-count: infinite;
  -o-animation: lightRotate linear 6s;
  -o-animation-iteration-count: infinite;
  -ms-animation: lightRotate linear 6s;
  -ms-animation-iteration-count: infinite;
}

.light-rotate-animation-slow {
  animation: lightRotate linear 10s;
  animation-iteration-count: infinite;
  -webkit-animation: lightRotate linear 10s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: lightRotate linear 10s;
  -moz-animation-iteration-count: infinite;
  -o-animation: lightRotate linear 10s;
  -o-animation-iteration-count: infinite;
  -ms-animation: lightRotate linear 10s;
  -ms-animation-iteration-count: infinite;
}

@keyframes lightRotate {
  0% {
    transform: translate(-50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%) rotate(30deg);
  }
}
@-moz-keyframes lightRotate {
  0% {
    -moz-transform: translate(-50%) rotate(0deg);
  }
  100% {
    -moz-transform: translate(-50%) rotate(30deg);
  }
}
@-webkit-keyframes lightRotate {
  0% {
    -webkit-transform: translate(-50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%) rotate(30deg);
  }
}
@-o-keyframes lightRotate {
  0% {
    -o-transform: translate(-50%) rotate(0deg);
  }
  100% {
    -o-transform: translate(-50%) rotate(30deg);
  }
}
@-ms-keyframes lightRotate {
  0% {
    -ms-transform: translate(-50%) rotate(0deg);
  }
  100% {
    -ms-transform: translate(-50%) rotate(30deg);
  }
}
.autoWheel {
  animation: wheel_rotate linear 20s;
  animation-iteration-count: infinite;
  -webkit-animation: wheel_rotate linear 20s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: wheel_rotate linear 20s;
  -moz-animation-iteration-count: infinite;
  -o-animation: wheel_rotate linear 20s;
  -o-animation-iteration-count: infinite;
  -ms-animation: wheel_rotate linear 20s;
  -ms-animation-iteration-count: infinite;
}

.autoWheel-slow {
  animation: wheel_rotate linear 200s;
  animation-iteration-count: infinite;
  -webkit-animation: wheel_rotate linear 200s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: wheel_rotate linear 200s;
  -moz-animation-iteration-count: infinite;
  -o-animation: wheel_rotate linear 200s;
  -o-animation-iteration-count: infinite;
  -ms-animation: wheel_rotate linear 200s;
  -ms-animation-iteration-count: infinite;
}

.autoWheel-slow-reverse {
  animation: wheel_rotate linear 50s;
  animation-iteration-count: infinite;
  -webkit-animation: wheel_rotate linear 50s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: wheel_rotate linear 50s;
  -moz-animation-iteration-count: infinite;
  -o-animation: wheel_rotate linear 50s;
  -o-animation-iteration-count: infinite;
  -ms-animation: wheel_rotate linear 50s;
  -ms-animation-iteration-count: infinite;
  animation-direction: reverse;
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  -o-animation-direction: reverse;
  -ms-animation-direction: reverse;
}

@keyframes wheel_rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes wheel_rotate {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes wheel_rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-o-keyframes wheel_rotate {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
  }
}
@-ms-keyframes wheel_rotate {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
  }
}
.autoPointerTrack {
  animation: pointer_rotate linear 1s;
  animation-iteration-count: infinite;
  -webkit-animation: pointer_rotate linear 1s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: pointer_rotate linear 1s;
  -moz-animation-iteration-count: infinite;
  -o-animation: pointer_rotate linear 1s;
  -o-animation-iteration-count: infinite;
  -ms-animation: pointer_rotate linear 1s;
  -ms-animation-iteration-count: infinite;
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  -ms-animation-delay: 0.4s;
}

@keyframes pointer_rotate {
  0% {
    transform: translate(-50%, -100%) rotate(-135deg);
  }
  10% {
    transform: translate(-50%, -100%) rotate(-165deg);
  }
  30% {
    transform: translate(-50%, -100%) rotate(-135deg);
  }
  100% {
    transform: translate(-50%, -100%) rotate(-135deg);
  }
}
@-moz-keyframes pointer_rotate {
  0% {
    -moz-transform: translate(-50%, -100%) rotate(-135deg);
  }
  10% {
    -moz-transform: translate(-50%, -100%) rotate(-165deg);
  }
  30% {
    -moz-transform: translate(-50%, -100%) rotate(-135deg);
  }
  100% {
    -moz-transform: translate(-50%, -100%) rotate(-135deg);
  }
}
@-webkit-keyframes pointer_rotate {
  0% {
    -webkit-transform: translate(-50%, -100%) rotate(-135deg);
  }
  10% {
    -webkit-transform: translate(-50%, -100%) rotate(-165deg);
  }
  30% {
    -webkit-transform: translate(-50%, -100%) rotate(-135deg);
  }
  100% {
    -webkit-transform: translate(-50%, -100%) rotate(-135deg);
  }
}
@-o-keyframes pointer_rotate {
  0% {
    -o-transform: translate(-50%, -100%) rotate(-135deg);
  }
  10% {
    -o-transform: translate(-50%, -100%) rotate(-165deg);
  }
  30% {
    -o-transform: translate(-50%, -100%) rotate(-135deg);
  }
  100% {
    -o-transform: translate(-50%, -100%) rotate(-135deg);
  }
}
@-ms-keyframes pointer_rotate {
  0% {
    -ms-transform: translate(-50%, -100%) rotate(-135deg);
  }
  10% {
    -ms-transform: translate(-50%, -100%) rotate(-165deg);
  }
  30% {
    -ms-transform: translate(-50%, -100%) rotate(-135deg);
  }
  100% {
    -ms-transform: translate(-50%, -100%) rotate(-135deg);
  }
}
.processingAnimate {
  animation: processing_bar linear 1s;
  animation-iteration-count: infinite;
  -webkit-animation: processing_bar linear 1s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: processing_bar linear 1s;
  -moz-animation-iteration-count: infinite;
  -o-animation: processing_bar linear 1s;
  -o-animation-iteration-count: infinite;
  -ms-animation: processing_bar linear 1s;
  -ms-animation-iteration-count: infinite;
}

@keyframes processing_bar {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 100px;
  }
}
@-moz-keyframes processing_bar {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 100px;
  }
}
@-webkit-keyframes processing_bar {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 100px;
  }
}
@-o-keyframes processing_bar {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 100px;
  }
}
@-ms-keyframes processing_bar {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 100px;
  }
}
.hideArea {
  animation: hide_Area linear 0.5s forwards;
  -webkit-animation: hide_Area linear 0.5s forwards;
  -moz-animation: hide_Area linear 0.5s forwards;
  -o-animation: hide_Area linear 0.5s forwards;
  -ms-animation: hide_Area linear 0.5s forwards;
}

@keyframes hide_Area {
  100% {
    opacity: 0;
    display: none;
  }
}
@-moz-keyframes hide_Area {
  100% {
    opacity: 0;
    display: none;
  }
}
@-webkit-keyframes hide_Area {
  100% {
    opacity: 0;
    display: none;
  }
}
@-o-keyframes hide_Area {
  100% {
    opacity: 0;
    display: none;
  }
}
@-ms-keyframes hide_Area {
  100% {
    opacity: 0;
    display: none;
  }
}
.showArea {
  animation: show_Area linear 0.5s forwards;
  -webkit-animation: show_Area linear 0.5s forwards;
  -moz-animation: show_Area linear 0.5s forwards;
  -o-animation: show_Area linear 0.5s forwards;
  -ms-animation: show_Area linear 0.5s forwards;
}

@keyframes show_Area {
  100% {
    opacity: 1;
    display: initial;
  }
}
@-moz-keyframes show_Area {
  100% {
    opacity: 1;
    display: initial;
  }
}
@-webkit-keyframes show_Area {
  100% {
    opacity: 1;
    display: initial;
  }
}
@-o-keyframes show_Area {
  100% {
    opacity: 1;
    display: initial;
  }
}
@-ms-keyframes show_Area {
  100% {
    opacity: 1;
    display: initial;
  }
}
.splashMoving_01 {
  animation: splash_moving linear 10s forwards;
  -webkit-animation: splash_moving linear 10s forwards;
  -moz-animation: splash_moving linear 10s forwards;
  -o-animation: splash_moving linear 10s forwards;
  -ms-animation: splash_moving linear 10s forwards;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
}

.splashMoving_02 {
  animation: splash_moving linear 10s forwards;
  -webkit-animation: splash_moving linear 10s forwards;
  -moz-animation: splash_moving linear 10s forwards;
  -o-animation: splash_moving linear 10s forwards;
  -ms-animation: splash_moving linear 10s forwards;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-delay: 0.11s;
  -webkit-animation-delay: 0.11s;
  -moz-animation-delay: 0.11s;
  -o-animation-delay: 0.11s;
  -ms-animation-delay: 0.11s;
}

@keyframes splash_moving {
  0%, 90% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}
@-moz-keyframes splash_moving {
  0%, 90% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}
@-webkit-keyframes splash_moving {
  0%, 90% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}
@-o-keyframes splash_moving {
  0%, 90% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}
@-ms-keyframes splash_moving {
  0%, 90% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}
.flipEffect {
  animation: flipping linear 5s;
  -webkit-animation: flipping linear 5s;
  -moz-animation: flipping linear 5s;
  -o-animation: flipping linear 5s;
  -ms-animation: flipping linear 5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-direction: alternate;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  -ms-animation-direction: alternate;
}

@keyframes flipping {
  0% {
    transform: scaleX(0.8);
  }
  100% {
    transform: scaleX(0.5);
  }
}
@-moz-keyframes flipping {
  0% {
    -moz-transform: scaleX(0.8);
  }
  100% {
    -moz-transform: scaleX(0.5);
  }
}
@-webkit-keyframes flipping {
  0% {
    -webkit-transform: scaleX(0.8);
  }
  100% {
    -webkit-transform: scaleX(0.5);
  }
}
@-o-keyframes flipping {
  0% {
    -o-transform: scaleX(0.8);
  }
  100% {
    -o-transform: scaleX(0.5);
  }
}
@-ms-keyframes flipping {
  0% {
    -ms-transform: scaleX(0.8);
  }
  100% {
    -ms-transform: scaleX(0.5);
  }
}
.bubbleEffect {
  animation: bubbling linear 0.5s;
  -webkit-animation: bubbling linear 0.5s;
  -moz-animation: bubbling linear 0.5s;
  -o-animation: bubbling linear 0.5s;
  -ms-animation: bubbling linear 0.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-direction: alternate;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  -ms-animation-direction: alternate;
}

@keyframes bubbling {
  100% {
    height: 85%;
    width: 85%;
  }
}
@-moz-keyframes bubbling {
  100% {
    height: 85%;
    width: 85%;
  }
}
@-webkit-keyframes bubbling {
  100% {
    height: 85%;
    width: 85%;
  }
}
@-o-keyframes bubbling {
  100% {
    height: 85%;
    width: 85%;
  }
}
@-ms-keyframes bubbling {
  100% {
    height: 85%;
    width: 85%;
  }
}
.swingEffect {
  animation: swinging linear 10s;
  -webkit-animation: swinging linear 10s;
  -moz-animation: swinging linear 10s;
  -o-animation: swinging linear 10s;
  -ms-animation: swinging linear 10s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-direction: alternate;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  -ms-animation-direction: alternate;
}

@keyframes swinging {
  100% {
    transform: scale(0.35) skew(2deg);
  }
  100% {
    transform: scale(0.35) skew(-2deg);
  }
}
@-moz-keyframes swinging {
  100% {
    -moz-transform: scale(0.35) skew(2deg);
  }
  100% {
    -moz-transform: scale(0.35) skew(-2deg);
  }
}
@-webkit-keyframes swinging {
  100% {
    -webkit-transform: scale(0.35) skew(2deg);
  }
  100% {
    -webkit-transform: scale(0.35) skew(-2deg);
  }
}
@-o-keyframes swinging {
  100% {
    -o-transform: scale(0.35) skew(2deg);
  }
  100% {
    -o-transform: scale(0.35) skew(-2deg);
  }
}
@-ms-keyframes swinging {
  100% {
    -ms-transform: scale(0.35) skew(2deg);
  }
  100% {
    -ms-transform: scale(0.35) skew(-2deg);
  }
}
.disableAnimate, body section .campaignCircle, body section .splashEffect:before, body section .splashEffect:after, body section#content:after {
  animation: none !important;
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  -ms-animation: none !important;
  animation-iteration-count: none !important;
  -webkit-animation-iteration-count: none !important;
  -moz-animation-iteration-count: none !important;
  -o-animation-iteration-count: none !important;
  -ms-animation-iteration-count: none !important;
  animation-direction: none !important;
  -webkit-animation-direction: none !important;
  -moz-animation-direction: none !important;
  -o-animation-direction: none !important;
  -ms-animation-direction: none !important;
}

body section .splashEffect {
  display: none;
}
body section .splashEffect:before, body section .splashEffect:after {
  content: none;
}
body section * {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

/*# sourceMappingURL=andoirdPerform.css.map */
