<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        style.

            @import url('https://fonts.googleapis.com/css?family=Lobster&ampsubset=vietnamese');
            @import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i');

            .wrapper{
                color: white;
                font-family: "Playfair Display", serif;
                max-width: 500px;
                margin: 0 auto;
                padding: 20px;
                background: #cc2121;
                background: -moz-radial-gradient(#cc2121 0%, #3d0a0a 100%);
                background: -webkit-radial-gradient(#cc2121 0%, #3d0a0a 100%);
                background: radial-gradient(#cc2121 0%, #3d0a0a 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#cc2121, endColorstr=#3d0a0a,GradientType=0 );
            }


            .wrapper:before{
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: url(https://stagingws.vinaresearch.net/public/vong-quay-tet-2019/common/img/pattern-motif.svg) center repeat;
                background-size: 2%;
                background-size: 2vmin;
                opacity: 0.2;
            }

            .topMail{
                color: #ffed4a;
                text-align: center;
                font-family: "Lobster", cursive;
                font-weight: thin
            }

    body
        .wrapper
            .topMail 
                h2
                    | Vòng quay may mắn - Hái Lộc Đầu Xuân
            .middleMail 
                p
                    | Năm mới Tết đến, BQT Vinaresearch tổ chức chương trình Vòng quay may mắn - Hái Lộc Đầu Xuân để thay lời cảm ơn chân thành nhất gửi đến các bạn thành viên đã đồng hành, tin tưởng Vinaresearch trong suốt thời gian vừa qua. 
                p
                    | Chương trình "Vòng quay may mắn" với chủ đề Hái Lộc Đầu Xuân Kỷ Hợi sẽ chính thức bắt đầu vào 9h sáng ngày mai (01/02/2019), với số lượng quà tặng lên đến 2303 phần quà và phần quà GIÁ TRỊ nhất mỗi ngày là 1000 điểm nên các bạn có tham gia thì chắc chắn sẽ có quà rinh về nhé.
                p
                    | Mỗi ngày, mỗi thành viên sẽ được miễn phí 1 lượt quay và có thể đổi thêm lượt quay mới số lượng không giới hạn chỉ với 10 điểm/ lượt. Cho đến khi hết quà cho một ngày, vòng quay sẽ tự động đóng và sẽ được mở lại vào 9h ngày hôm sau.

            .bottomMail 
                p
                    | Xem thông tin chi tiết của chương trình tại đây:
                    br
                    | https://vinaresearch.net/public/vong-quay-may-man/