doctype html
html(lang="en")
  head
    meta(name='viewport', content='user-scalable=0, width=device-width, maximum-scale=1.0, initial-scale=1.0')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(http-equiv='Content-Style-Type', content='text/css')
    title Vinaresearch - Tết 2017
    link(rel='stylesheet', type='text/css', href='common/css/import.css', media='all')
    meta(property='og:url', content='https://vinaresearch.net/public/vong-quay-tet-2019')
    meta(property='og:type', content='website')
    meta(property='og:title', content='Vòng quay may mắn | Khai Xuân Đón Lộc')
    meta(property='og:description', content='Nhân dịp Tết Nguyên Đán Đinh Dậu 2017 sắp đến, Ban Quản Trị cộng đồng khảo sát trực tuyến Vinaresearch tổ chức chương trình Vòng quay may mắn - Khai xuân đón lộc để thay lời cảm ơn chân thành nhất gửi đến các bạn thành viên đã đồng hành, tin tưởng Vinaresearch trong suốt thời gian vừa qua. ')
    meta(property='og:image', content='https://vinaresearch.net/public/vong-quay-tet-2019/common/img/vong-quay-Tet-2019-fb.png')
    body
        header
            .wrapper
                a#topLogo(href="#")
                //- nav.beforeLogin
                //-     a.loginButton(href="#Login") Đăng nhập
                //-     a(href="/register") Đăng ký 
                    
        section.decoration
            .conerCircles
                .object.circle
                .object.circle
                .object.circle
                .object.circle

        section.mountains#content
            #ruleArea
                .top
                .content
                    .objectsArea
                        .ruleBroad
                            .topObject
                                .ropes
                                .bracePipe
                                    .circle.end
                                    .circle.end

                                    .circleGroup
                                        .circle
                                        .circle
                                        .circle
                                        .circle
                                        .circle.circleSpecial

                            .middleObject
                                h2.titleText
                                    | Thể lệ
                                .contentObject
                                    p
                                    | Nhân dịp Tết Nguyên Đán Đinh Dậu 2017, Ban Quản Trị cộng đồng khảo sát trực tuyến Vinaresearch tổ chức chương trình Vòng quay may mắn - Khai xuân đón lộc để thay lời cảm ơn chân thành nhất gửi đến các bạn thành viên đã đồng hành, tin tưởng Vinaresearch trong suốt thời gian vừa qua.
                                    p
                                    | Hòa vào không khí náo nhiệt chuẩn bị cho năm mới sắp đến, Vòng quay may mắn - sân chơi quen thuộc cùng những bất ngờ mới sẽ giúp bạn thử vận may của mình trong dịp đầu năm Đinh Dậu, đừng quên đăng nhập mỗi ngày để tham gia nhé.
                                    dl
                                    dt Thời gian
                                    dd Chương trình bắt đầu từ 9h ngày 23/01/2017 đến 23h59' ngày 06/02/2017
                                    dt Cách thức tham gia
                                    dd
                                        | Truy cập vào trang web sau để tham gia chương trình: 
                                        a(href='https://vinaresearch.net/public/vong-quay-tet-2019/') Link
                                    dt Thể lệ
                                    dd
                                        ul
                                        li
                                            | Mỗi ngày, mỗi thành viên sẽ đuợc tặng một lượt quay may mắn sau khi đăng nhập tại website Vinaresearch.net.
                                        li
                                            | Khi Vòng quay may mắn bắt đầu khởi động, thành viên có cơ hội nhận được những số điểm thưởng tương ứng trên vòng quay.
                                        li
                                            | Số điểm lớn nhất được tặng mỗi ngày của Vòng quay may mắn là 
                                            strong.strongText Bao lì xì
                                            |  tương ứng với 
                                            strong.strongText 300
                                            |  điểm thưởng.
                                        p
                                        | Ngoài ra, trong suốt thời gian diễn ra Vòng quay may mắn - Khai Xuân Đón Lộc sẽ có duy nhất 1 Giải đặc biệt - 
                                        strong.strongText 1000
                                        |  điểm dành cho thành viên may mắn nhất quay trúng vào ô có hình 
                                        strong.strongText Gà May Mắn
                                        | .
                                    dt Lưu ý
                                    dd
                                        | Mỗi ngày chương trình chỉ tặng tối đa 2,031 phần quà (tương ứng các mức điểm thưởng khác nhau). Trong trường hợp số phần quà đã chạm ngưỡng cho phép thì vòng quay sẽ không quay được nữa và sẽ được khởi động lại vào 9h ngày hôm sau.
                                    dt Điều kiện tham gia
                                    dd
                                        ul
                                        li Là thành viên của cộng đồng khảo sát trực tuyến Vinaresearch.
                                        li
                                            | Chủ tài khoản là người thật, không vi phạm bất kỳ quy định nào trên cộng đồng khảo sát trực tuyến Vinaresearch.
                                    dt Quy định
                                    dd
                                        ul
                                        li
                                            | Thành viên không được sử dụng phần mềm để gây rối, điều chỉnh kết quả của Vòng quay may mắn. Nếu vi phạm quy định này và bị phát hiện, thành viên sẽ bị khóa tài khoản vĩnh viễn tại Vinaresearch.
                                        li
                                            | Trong một ngày, mỗi thành viên chỉ có tối đa 1 lượt quay. Trong truờng hợp có lỗi kĩ thuật và thành viên có thể quay đuợc vào lần thứ 2, kết quả lần này sẽ không đuợc tính.
                                        li
                                            | Trong mọi truờng hợp tranh chấp về luật chơi này, BQT Vinaresearch là người có quyết định cuối cùng.
                                    p
                                        | Mọi thắc mắc xin liên hệ bộ phận hỗ trợ (Hotline: 083 848 3732) hoặc hộp thư: 
                                        a(href='mailto:support@vinaresearch.net') support@vinaresearch.net
                                    .orgSign
                                        div
                                        p Thân ái 
                                        p Ban Quản trị Vinaresearch

                            .bottomObject
                            
                //- .bottom
                //-     .bottomLink
                //-         img.mountainBackground(src="common/img/yellow-mountain.svg", alt="Menu section")
                //-         a(href="#Rule" data-page-target="Rule") Thể lệ
                //-         .trees
                //-             .tree01
                //-             .tree02

            #wheelArea
                .top
                .content
                    .objectsArea
                        //- .loginCircle
                            .outsideCorner
                            .insideCorner
                                .circleGroup
                                    .circle
                                    .circle
                                    .circle
                                    .circle
                                    .circle.circleSpecial

                                .circleGroup.bottom
                                    .circle
                                    .circle
                                    .circle
                                    .circle
                                    .circle.circleSpecial

                                //- .introContext
                                //-     h1.introText 2019
                                //-         .subTitle Vòng quay Tết
                                .notiInfo
                                    p.notiTitle Thông báo
                                    div.notiContent 
                                        form(action="", method="post").loginContext
                                            input(type="text" placeholder="Nhập username")
                                            input(type="password" placeholder="Nhập mật khẩu")
                                            input#remember(type="checkbox")
                                            label(for="remember") Nhớ đăng nhập
                                            p.txt-al-c
                                                a#forgetPassword(href="#") Quên mật khẩu
                                            input(type="submit" value="Đăng nhập")
                        
                        .wheelCircle
                            .outsideCorner
                                .wingBehind
                                .wingBehind
                                .circleGroup
                                    .circle
                                    .circle
                                    .circle.circleSpecial

                                .circleGroup.bottom
                                    .circle
                                    .circle
                                    .circle.circleSpecial

                            .circle.pointer
                            .insideCorner
                                #wheelRotate.autoWheel
                                    - for (var i=1; i<=20; i++)
                                        .wheel-wing(data-number=i)
                                            //- span.pointValue 100
                                #wheelCenter
                                    //- .notiInfo
                                    //-     p.notiTitle Thông báo
                                    //-     div.notiContent 
                                    //- .notification
                                    //-     p.title Thông báo
                                    //-     p.message Bạn đang có sự số kết nối, vui lòng thử lại.
                //- .bottom
                //-     .bottomLink
                //-         img.mountainBackground(src="common/img/yellow-mountain.svg", alt="Menu section")
                //-         a(href="#Wheel" data-page-target="Wheel") Vòng quay

            #resultArea
                .top
                .content
                    .objectsArea
                        .ruleBroad
                            img#resultBackground(src="common/img/clip-path.svg")
                            //- svg#resultBackground(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 963.53 717.5')
                                path.cls-1(d='M765.09,173.92C560.64,101.08,490.57,15.7,481.77,0,473,15.7,402.9,101.08,198.44,173.92-13.71,249.51-5.76,330.8,3.79,344.58L309.47,717.5l91.1-59.38,81.2-28.68L563,658.12l91.1,59.38L959.75,344.58C969.29,330.8,977.24,249.51,765.09,173.92Z')


                            .circleGroup
                                .circle
                                .circle
                                .circle
                                .circle
                                .circle
                                .circle.circleSpecial

                            .circleGroup.bottom
                                .circle
                                .circle
                                .circle
                                .circle
                                .circle
                                .circle.circleSpecial
                                
                            .middleObject
                                h2.titleText
                                    | Kết quả
                                .contentObject
                                    table
                                        tr
                                            th STT
                                            th Tài khoản
                                            th Điểm
                                            th Thời gian
                                        tr.current-user
                                            td 1
                                            td Username1
                                            td 102
                                            td 1/13/2017
                                        tr
                                            td 1
                                            td Username1
                                            td 102
                                            td 1/13/2017
                                        tr
                                            td 1
                                            td Username1
                                            td 102
                                            td 1/13/2017
                                        tr
                                            td 1
                                            td Username1
                                            td 102
                                            td 1/13/2017
                                        tr
                                            td 1
                                            td Username1
                                            td 102
                                            td 1/13/2017
                                        tr
                                            td 1
                                            td Username1
                                            td 102
                                            td 1/13/2017
                                        tr
                                            td 1
                                            td Username1
                                            td 102
                                            td 1/13/2017
                                        tr
                                            td 1
                                            td Username1
                                            td 102
                                            td 1/13/2017
                                        tr
                                            td 1
                                            td Username1
                                            td 102
                                            td 1/13/2017
                                        tr
                                            td 1
                                            td Username1
                                            td 102
                                            td 1/13/2017
                                        tr
                                            td 1
                                            td Username1
                                            td 102
                                            td 1/13/2017
                                        tr
                                            td 1
                                            td Username1
                                            td 102
                                            td 1/13/2017
                                        tr
                                            td 1
                                            td Username1
                                            td 102
                                            td 1/13/2017
                                        tr
                                            td 1
                                            td Username1
                                            td 102
                                            td 1/13/2017
                                        tr
                                            td 1
                                            td Username1
                                            td 102
                                            td 1/13/2017
                                        tr
                                            td 1
                                            td Username1
                                            td 102
                                            td 1/13/2017
                                        tr
                                            td 1
                                            td Username1
                                            td 102
                                            td 1/13/2017
                                        tr
                                            td 1
                                            td Username1
                                            td 102
                                            td 1/13/2017
                                        tr
                                            td 1
                                            td Username1
                                            td 102
                                            td 1/13/2017
                                        tr
                                            td 1
                                            td Username1
                                            td 102
                                            td 1/13/2017
                                        tr
                                            td 1
                                            td Username1
                                            td 102
                                            td 1/13/2017
                                        tr
                                            td 1
                                            td Username1
                                            td 102
                                            td 1/13/2017
                                        tr
                                            td 1
                                            td Username1
                                            td 102
                                            td 1/13/2017
                                        tr
                                            td 1
                                            td Username1
                                            td 102
                                            td 1/13/2017
                                        tr
                                            td 1
                                            td Username1
                                            td 102
                                            td 1/13/2017
                            //- .bottomObject
                            
                //- .bottom
                //-     .bottomLink
                //-         img.mountainBackground(src="common/img/yellow-mountain.svg", alt="Menu section")
                //-         a(href="#Result" data-page-target="Result") Kết quả
                //- .objectsArea
        
        footer
            nav#sectionNav.pageNav
                //- a(href="#Rule" data-page-target="Rule") Thể lệ
                //- a(href="#Wheel" data-page-target="Wheel") Vòng quay
                //- a(href="#Result" data-page-target="Result") Kết quả

    
    script(type='text/javascript', src='common/js/jquery-2.2.1.min.js')
    script(type='text/javascript', src='common/js/jquery-ui.js')
    script(type='text/javascript', src='common/js/loginForm.js')
    script(type='text/javascript', src='common/js/User.js')
    script(type='text/javascript', src='common/js/navObs.js')
    //- script(type='text/javascript', src='common/js/friendList.js')
    script(type='text/javascript', src='common/js/resultObs.js')
    script(type='text/javascript', src='common/js/notificationMessage.js')
    script(type='text/javascript', src='common/js/wheelObs.js')
    script(type='text/javascript', src='common/js/dragEvent.js')
    script(type='text/javascript', src='common/js/init.js')
    //- script(type='text/javascript', src='common/js/fireFly.js')

        //- section
        //-     //- p This is a post about Pug template engine, enjoy it!
        //- footer
        //-     //- cool footer with lots of copyrights