@import url('https://fonts.googleapis.com/css?family=Lobster&amp;subset=vietnamese')
/* Let's get this party started */
::-webkit-scrollbar
    width: 4px

/* Track */
::-webkit-scrollbar-track
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)*/
    width: 10px
    /*display:none*/
    background: transparent

/* Handle */
::-webkit-scrollbar-thumb
    // -webkit-border-radius: 10px
    // border-radius: 10px
    background-color: $red
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5)*/
::-webkit-scrollbar-thumb:window-inactive
    /*background: rgba(255,0,0,0.4)*/


body
    background: url(../img/red-gradient.svg) center no-repeat
    background-size: cover
    min-height: 100vh
    color: white
    font-family: 'Lobster', cursive
    font-size: $standardFontsize
    &:before
        content: ""
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        background: url(../img/pattern-motif.svg) center repeat
        background-size: 2%
        background-size: 2vmin
        z-index: -1
        opacity: 0.2

    header
        padding-top: 4vmin
        .wrapper
            display: flex
        #topLogo
            background: url(../img/vina_logo_white.svg) center no-repeat
            background-size: contain
            width: 20vmin
            height: 5vmin
        nav
            @include flex(1)
            align-self: center
            text-align: right
            a
                margin: 2vmin
    
    .wrapper
        max-width: calc(100vw - 30vw)
        margin: auto
    
    section
        &.decoration
            .conerCircles
                .circle
                    position: fixed
                    width: 20vmax
                    height: 20vmax
                    top: 0
                    left: 0
                    z-index: 10
                    @include transform(translate(-50%, -50%))
                    &:nth-child(2)
                        left: 100%
                    &:nth-child(3)
                        top: 100%
                    &:nth-child(4)
                        top: 100%
                        left: 100%

        &.mountains
            position: fixed
            bottom: 0
            max-width: 60vw
            // min-width: 800px
            margin: 0 auto
            left:0
            right: 0
            display: flex
            
            &.activeRule
                margin-left: 40vw
                div[id$="Area"]:not(#ruleArea) .content
                    display: none

            &.activeResult
                margin-right: 40vw
                div[id$="Area"]:not(#resultArea) .content
                    display: none

            &.activeWheel, &:not(.activeRule):not(.activeResult)
                div[id$="Area"]:not(#wheelArea) .content
                    display: none

            div[id$="Area"]
                height: 90vh
                position: relative
                background: rgba(255,255,255,0.5)   
                @include flex(1)
                @include transition(flex 0.5s)
                &.active
                    @include flex(1.1)
                
                .content
                    position: relative
                    height: 90%
                    .objectsArea
                        height: 100%
                        width: 80vw
                        position: absolute
                        left: 10vw
                        background: green
                        @include transform(translateX(-50%))
                .bottom
                    position: absolute
                    bottom: 0
                    left: 0
                    right: 0
                    height: 15%
                    text-align: center
                    .bottomLink
                        height: 100%
                        width: 100%
                        position: relative
                        .mountainBackground
                            position: absolute
                            height: 120%
                            top: 50%
                            @include transform(translate(-50%, -50%))

                        a
                            position: relative
                            display: block
                            top: 45%

            #ruleArea
                .ruleBroad
                    position: inherit
                    height: 100%
                    width: 100%

                    .topObject, .bottomObject
                        position: absolute
                        top: 0
                        height: 15%
                        width: 100%
                        background: green

                    .middleObject
                        position: absolute
                        top: 15%
                        height: 70%
                        width: 100%
                        background: $red
                        padding: 5% 10%
                        @include boxSizing()
                        overflow: auto

                        .contentObject
                    .bottomObject
                        top: 85%
                    
                .trees
                    position: absolute
                    bottom: 0
                    width: 100%
                    height: 260%
                    .tree01, .tree02
                        background: url(../img/tree-01.svg) no-repeat bottom
                        position: absolute
                        width: 100%
                        height: 100%
                        bottom: 10%
                        @include transform(rotate(-10deg))
                        z-index: -1
                        left: -30%
                        @include transformOrigin(50% 100%)
            #wheelArea
                .introCircle
                    position: absolute
                    height: 80vmin
                    width: 80vmin
                    bottom: 0
                    left: 50%
                    @include transform(translateX(-50%))
                    .outsideCorner
                        position: inherit
                        height: 108%
                        width: 108%
                        border-radius: 100vmax
                        @include transform(translate(-50%, -50%))
                        left: 50%
                        top: 50%
                        @extend .yellowGradient
                        &:before
                            content: ""
                            position: absolute
                            height: 96%
                            width: 96%
                            left: 50%
                            top: 50%
                            @include transform(translate(-50%, -50%))
                            border-radius: inherit 
                            background: white
                            opacity: 0.2
                    .insideCorner
                        position: inherit
                        height: inherit
                        width: inherit
                        border-radius: 100vmax
                        overflow: hidden
                        @extend .redGradientBackground
                        &:before
                            content: ""
                            position: absolute
                            height: 96%
                            width: 96%
                            left: 50%
                            top: 50%
                            @include transform(translate(-50%, -50%))
                            border-radius: inherit 
                            background: black
                            opacity: 0.2

                        &:after
                            content: ""
                            position: absolute
                            height: 80%
                            width: 80%
                            left: 50%
                            top: 50%
                            @include transform(translate(-50%, -50%))
                            border: dotted  $yellow 1vmin
                            border-radius: inherit

                        .circleGroup
                            position: absolute
                            z-index: 1
                            // width: 70%
                            // height: 10%
                            left: 50%
                            .circle
                                position: absolute
                                height: 16vmin
                                width: 16vmin
                                @include transform(translate(-50%, -50%))
                                &:nth-child(1)
                                    @include transform(translate(-170%, -10%))
                                &:nth-child(2)
                                    @include transform(translate(70%, -10%))
                                &:nth-child(3)
                                    @include transform(translate(-120%, 0))
                                &:nth-child(4)
                                    @include transform(translate(20%, 0))
                                &:nth-child(5)
                                    @include transform(translate(-50%, 20%) scale(1.1))

                            &.bottom
                                @include transform(scaleY(-1))

                        .introContext
                            font-size: $introTitleSize
                            position: absolute
                            left: 50%
                            top: 50%
                            width: 100%
                            @include transform(translate(-50%, -50%))

                        
            //         .tree02
            //             background: url(../img/tree-02.svg) no-repeat top
            //             left: 0
            //             width: 80%
            //             height: 80%
            //             // padding-bottom: 20vh
            //             // margin-bottom: 10vh
            //             @include transform(rotate(5deg))
                        
            //     .ruleBroad
            //         position: absolute
            //         left: 50%
            //         height: 100%
            //         width: 60vmax
            //         background: url(../img/rule-board.svg) no-repeat center 
            //         @include transform(translateX(-50%))